* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Taken från arbetsformedlingen.se */
    --af-primary: #00005a;
    --af-blue: #1616b2;
    --af-green-max: #92eb42;
    --af-green: #11a386;
    --af-green-10: #eff8eb;
    --af-green-40: #a0dacf;
    --af-yellow: #fddc41;
    --af-red: #e21c50;
    --af-white: #fff;
    --af-gray-10: #f5f5f5;
    --af-gray-20: #efefef;
    --af-gray-30: #d1d1d1;
    --af-gray-50: #999;
    --af-gray-70: #666;
    --af-gray-90: #333;
    --af-black: #000;
}

html,
body {
    height: 100%;
    background-color: var(--af-primary);
    font-family: Verdana, Geneva, sans-serif;
    scroll-behavior: smooth;
}

input,
button {
    font-family: inherit;
}

main {
    margin: 0 auto;
    max-width: 700px;
    display: grid;
    gap: 1em;
    padding: 1em;
}

ul {
    list-style: none;
}

a[href="#"] {
    pointer-events: none;
    text-decoration: line-through;
    color: gray;
}

.inputWrapper {
    --input-padding: 1em;
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--af-white);
    border: 2px solid var(--af-white);
    margin-top: 1em;
}

.inputWrapper:focus-within {
    outline: 2px solid white;
    border-color: black;
}

.inputWrapper input:focus {
    outline: none;
}

.inputWrapper label {
    position: absolute;
    line-height: 1.5;
    padding-right: calc(var(--input-padding) / 3);
    padding-left: calc(var(--input-padding) / 3);
    background-color: inherit;
    transition: transform 150ms ease-in-out;
}

.inputWrapper input {
    flex-grow: 1;
    border: none;
    padding: var(--input-padding);
}

.inputWrapper button {
    position: relative;
    right: 0;
    min-width: 3em;
    height: 100%;
    border: none;
    background-color: inherit;
    font-weight: bold;
}

.inputWrapper button:active {
    transform: scale(.9);
}


.inputWrapper button:hover {
    border-left: 1px solid black;
}

.inputWrapper:hover button {
    cursor: pointer;
}

.inputWrapper label:hover {
    cursor: text;
}

.inputWrapper:focus-within label,
.inputWrapper[data-datawithin="true"] label {
    transform: translateY(-150%);
}

.inputWrapper:focus-within label,
.inputWrapper[data-datawithin="true"] label {
    cursor: default;
}

@keyframes slideIn {
    from {
        transform: translateX(200%);
    }

    to {
        transform: translateX(0);
    }
}

.results>li {
    display: grid;
    gap: 0.25em;
    justify-items: center;
    background-color: var(--af-white);
    margin: 2em 0;

    /* animation: slideIn 250ms ease-out; */
}

.results>li[data-exact="true"] {
    outline: 2px solid var(--af-green-max);
    outline-offset: 2px;
}

.results h2 {
    z-index: 99;
    background-color: inherit;
    margin-top: -1em;
    padding: 0.25em 0.75em;
    border: 1px solid black;
    font-size: 1.2rem;
}

.match {
    display: grid;
    grid-template-areas:
        "usedby meaning"
        "usedby explanation"
        "usedby moreinfo";
    grid-template-columns: 25% 75%;
    align-items: center;
    gap: 0.5em;
    padding: 0.75em 0.5em;
    min-width: 100%;
}

.match[data-general="true"] {
    grid-template-areas:
        "meaning"
        "explanation"
        "moreinfo";
    grid-template-columns: 100%;
}

.match[data-general="true"] .usedby {
    display: none;
}

.match+.match {
    border-top: 1px solid black;
}

.usedby {
    grid-area: usedby;
    width: 100%;
    border-right: 1px solid var(--af-gray-30);
    padding: 0.5em;
}

.usedby ul {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 100%;
    /* FIXME: tillfällig */
    color: transparent;
    /* FIXME: tillfällig */
}

.usedby li {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0.5em;
    position: relative;
}

.usedby li+li {
    border-top: 1px solid var(--af-gray-30);
}

.usedby li:hover::after {
    content: attr(data-user);
    position: absolute;
    padding: 0.5em;
    top: -100%;
    left: 0;
    background-color: white;
    color: black;
    border: 1px solid var(--af-gray-30);
}

li[data-user="arbetsförmedlingen"] {
    background-image: url(./../img/logos/Af_logotyp_rgb.svg);
}

li[data-user="försäkringskassan"] {
    background-image: url(./../img/logos/forsakringskassans-logotyp-original-60mm-rgb.png);
}

li[data-user="skatteverket"] {
    background-image: url(./../img/logos/SKV_RGB_li.png);
}

li[data-user="skr"] {
    background-image: url(./../img/logos/SKR_Logotype.png);
}

li[data-user="esf"] {
    background-image: url(./../img/logos/ESF_LOGO_cmyk.png);
}

li[data-user="kriminalvården"] {
    background-image: url(./../img/logos/kriminalvarden.png);
}

li[data-user="åklagarmyndigheten"] {
    background-image: url(./../img/logos/aklagarmyndigheten_rgb.png);
}

li[data-user="integritetsskyddsmyndigheten"] {
    background-image: url(./../img/logos/imy-logotyp-farg-rgb.png);
}

li[data-user="iaf"] {
    background-image: url(./../img/logos/iaf_logo_color26896-0.png);
}

li[data-user="afa försäkring"] {
    background-image: url(./../img/logos/AFA_blue_RGB_med_frizon.png);
}

li[data-user="statens tjänstepensionsverk"] {
    background-image: url(./../img/logos/spv_logotyp_rgb_original_utskrivet_namn.png);
}

li[data-user="internetstiftelsen"] {
    background-image: url(./../img/logos/internetstiftelsen_logo.png);
}

li[data-user="brottsoffermyndigheten"] {
    background-image: url(./../img/logos/brottsoffermyndigheten.svg);
}

li[data-user="verksamt"] {
    background-image: url(./../img/logos/verksamt.svg);
}

li[data-user="scb"] {
    background-image: url(./../img/logos/scb.svg);
}

li[data-user="kronofogden"] {
    background-image: url(./../img/logos/kronofogden.png);
}

li[data-user="pensionsmyndigheten"] {
    background-image: url(./../img/logos/pensionsmyndigheten.svg);
}

li[data-user="antagning"] {
    background-image: url(./../img/logos/antagning.svg);
}

.meaning {
    grid-area: meaning;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 0.9rem;
}

.explanation {
    grid-area: explanation;
    font-size: 0.8rem;
    line-height: 1.5;
    padding: 0.25em;
}

.moreInfo {
    grid-area: moreinfo;
    text-align: center;
    font-size: 0.7rem;
}

@media screen and (max-width: 450px) {

    .match {
        display: grid;
        grid-template-areas:
            "usedby"
            "meaning"
            "explanation"
            "moreinfo";
        grid-template-columns: 100%;
    }

    .usedby ul {
        grid-auto-flow: column;
        grid-template-columns: initial;
        gap: 0;
        padding-bottom: 0.5em;
        border-bottom: 1px solid lightgray;
    }
}