* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Taken från arbetsformedlingen.se */
    --af-primary: #00005a;
    --af-blue: #1616b2;
    --af-green-max: #92eb42;
    --af-green: #11a386;
    --af-green-10: #eff8eb;
    --af-green-40: #a0dacf;
    --af-yellow: #fddc41;
    --af-red: #e21c50;
    --af-white: #fff;
    --af-gray-10: #f5f5f5;
    --af-gray-20: #efefef;
    --af-gray-30: #d1d1d1;
    --af-gray-50: #999;
    --af-gray-70: #666;
    --af-gray-90: #333;
    --af-black: #000;
}

html,
body {
    height: 100%;
    background-color: var(--af-primary);
    font-family: Verdana, Geneva, sans-serif;
    padding: 1em;
}

main {
    display: grid;
    gap: 1em;
}

ul {
    list-style: none;
}

a[href="#"] {
    pointer-events: none;
    text-decoration: line-through;
    color: gray;
}

.inputWrapper {}

.results {}

.results>li {
    display: grid;
    gap: 0.25em;
    justify-items: center;
    background-color: var(--af-white);
    margin: 2em 0;
}

.results h2 {
    background-color: inherit;
    margin-top: -0.75em;
    padding: 0.25em 0.75em;
    border: 1px solid black;
    font-size: 1.2rem;
}

.match {
    display: grid;
    grid-template-areas:
        "usedby meaning"
        "usedby explanation"
        "usedby moreinfo";
    grid-template-columns: 25% 75%;
    align-items: center;
    gap: 0.5em;
    padding: 0.75em 0.5em;
    min-width: 100%;
}

.match+.match {
    border-top: 1px solid black;
}

.usedby {
    grid-area: usedby;
    /* background-image: url(./../../testfiler/Logotyp_digitalt/Logotyp_digitalt/SVG/Af_logotyp_rgb.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100%; */
}

.usedby ul {
    display: grid;
    gap: 0.5em;
    grid-auto-flow: row;
    grid-template-columns: 100%;
    /* FIXME: tillfällig för test, ta bort innan prod */
    color: transparent;
    /* FIXME: tillfällig för test, ta bort innan prod */
}

.usedby li {
    background-image: url(./../../testfiler/Logotyp_digitalt/Logotyp_digitalt/SVG/Af_logotyp_rgb.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-height: 1em;
}

.meaning {
    grid-area: meaning;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 0.9rem;
}

.explanation {
    grid-area: explanation;
    font-size: 0.8rem;
    line-height: 1.5;
    padding: 0.25em;
}

.moreInfo {
    grid-area: moreinfo;
    text-align: center;
    font-size: 0.7rem;
}